# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Telkom TerANU\File Program PRAKTIKUM PEMROGRAMAN BERORIENTASI OBJEK\Tugas OOP Lanjut PBO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
